@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 8th Edition
   Tutorial 6
   Case Problem 2

   Calendar Style Sheet
   Author: Stephen Donoghue
   Date:   2023-03-20

   Filename:   lht_tables.css

*/

/* Mobile Styles: 0px to 640px */
@media only screen and (max-width: 640px) {
   table, tbody, tr, td, th, caption {
      display: block;
   }

   caption {
      color: white;
      background-color: grey;
      font-size: 1.5em;
      line-height: 2em;
   }

   thead {
      display: none;
   }

   table > tbody > tr > td > h1 {
      display: none;
   }

   table > tbody > tr > td {
      border: 1px dotted grey;
      color:  rgb(11, 12, 145);
      position: relative;
      padding-left: 45%;
      min-height: 40px;
   }

   table > tbody > tr:nth-of-type(odd) {
      background-color:  rgb(255, 235, 178);
      border: 2px solid grey;
   }

   [data-date]:before {
      content: attr(data-date);
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      padding: 5px;
   }
}




/* Tablet and Desktop Styles: greater than 640px */
@media only screen and (min-width: 641px) {
   table {
      background-image: url("lht_photo1.png");
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: 40%;
      border: 6px double rgb(154, 64, 3);
      border-collapse: collapse;
      margin: 20px auto 20px auto;
      table-layout: fixed;
      width: 85%;
   }

   th, td {
      border: 1px solid grey;
      font-size: 0.85em;
      font-weight: normal;
      padding: 5px;
      vertical-align: text-top;
      width: 14.28%;
      word-wrap: break-word;
   }

   td {
      background-color: rgba(171, 171, 171, 0.6);
      color: rgb(11, 12, 145);
   }

   td[data-date~="Sep"] {
      background-color: rgba(232, 214, 148, 0.6);
      box-shadow: inset 0px 0px 20px grey;
   }

   caption {
      caption-side: top;
      text-align: center;
      padding-bottom: 10px;
      font-size: 1.2em;
      letter-spacing: 3px;
   }

   thead th {
      color: white;
      background-color: rgb(154, 64, 3);
   }
}